DATABASE_HOST=localhost
DATABASE_PORT=5435
DATABASE_USER=mi_usuario
DATABASE_PASSWORD=mi_contrasena
DATABASE_NAME=mi_base_de_datos

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
